<section id="left">
<article>
<h3>Átlagszámolás</h3>

<table>
  <tr>
    <th>Név</th>
    <th>Kredit</th>
    <th>Érdemjegy</th>
  </tr>
<%= form_tag('/szamol') do %>
<% i = 0 %>
<% @subjects.each do |subject| %>
<% n = [] %>
  <tr>
    <td class="first-col"><%= subject.name %></td>
    <td class="credit-col"><%= subject.credit %></td>
    <td>
		<%= select_tag(:f, options_for_select([['1',1],['2',2],['3',3],['4',4], ['5',5]])) %>
	</td>
  </tr>
<% i = i+1%>

<% end %>
<%= text_field_tag(:r, @result, :disabled => true) %>
<%= submit_tag("Számold") %>
<% end %>

</table>
<div class="result">
<a href="#" class="countit">Átlag kiszámolása</a>

<table>

<tr>
	<th>Összes felvett kredit</th>
	<th>Teljesített kredit</th>
	<th>Átlag</th>
	<th>Kumm. átlag</th>
	<th>Ösztöndíj index</th>
</tr>
<tr>
	<td><%= @kreditek %></td>
	<td>x</td>
	<td>x</td>
	<td>x</td>
	<td>x</td>
</tr>

</table>

</div>
<div>

	
	
</div>

</article>
</section>
