<%= form_for @user do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :username, "Felhasználónév" %><br />
    <%= f.text_field :username %>
  </p>
  <p>
    <%= f.label :email, "E-mail cím" %><br />
    <%= f.text_field :email %>
  </p>
  <p>
    <%= f.label :password, "Jelszó" %><br />
    <%= f.password_field :password %>
  </p>
  <p>
    <%= f.label :password_confirmation, "Jelszó ismét" %><br />
    <%= f.password_field :password_confirmation %>
  </p>
  <p><%= f.submit (@user.new_record? ? "Sign up" : "Frissítés") %></p>
<% end %>
